{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/avataaars.svg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ app }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Aplikasi Pemesanan Tiket Mudik</p>
    </div>
</header>

<section class="page-section bg-secondary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Tentang Kami</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <p class="lead">Ticketeer adalah sebuah aplikasi pemesanan tiket mudik berbasis website yang menawarkan berbagai
                    macam sarana transportasi dengan harga terjangkau.
                </p>
            </div>
        </div>
        <div class="row py-md-3">
            <div class="col-lg-4 mb-md-0 mb-2 d-flex justify-content-center">
                <div class="card p-3 bg-primary" style="width: 18rem;">
                    <img src="{% static 'img/bus.png' %}" class="card-img-top mx-auto" alt="...">
                </div>
            </div>
            <div class="col-lg-4 mb-md-0 mb-2 d-flex justify-content-center">
                <div class="card p-3 bg-primary" style="width: 18rem;">
                    <img src="{% static 'img/ship.png' %}" class="card-img-top mx-auto" alt="...">
                </div>
            </div>
            <div class="col-lg-4 mb-md-0 mb-2 d-flex justify-content-center">
                <div class="card p-3 bg-primary" style="width: 18rem;">
                    <img src="{% static 'img/train.png' %}" class="card-img-top mx-auto" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-section bg-primary">
    <div class="container" id='search_container'>
        <div class="row p-5">
            {% comment %} <form method="POST" action="{% url 'website:orders:search_trip' %}"> {% endcomment %}
                {% csrf_token %}
                {{ search_form }}
                
                <button type="submit" class="btn btn-secondary" id="searchTripBtn">Submit</button>
            {% comment %} </form> {% endcomment %}
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
    
    $(document).ready(function () {

        $(document).on('click', '#searchTripBtn', function(e) {
            const post_minute = $('#id_date_time_minute').val()

            $.ajax({
                type: "POST",
                url: "{% url 'website:orders:search_trip' %}",
                data: {
                    origin: $('#id_origin').val(),
                    destination: $('#id_destination').val(),
                    transportation: $('#id_transportation').val(),
                    day: $('#id_date_time_day').val(),
                    month: $('#id_date_time_month').val(),
                    year: $('#id_date_time_year').val(),
                    hour: $('#id_date_time_hour').val(),
                    minute: (post_minute == 0) ? post_minute + '0' : post_minute,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if (response.status_code == 200) {
                        
                        $('#q_result').remove()
                        $('#search_container').append(`
                            <div class="row p-5" id='q_result'>
                            </div>
                        `)

                        $.each(response.data, function(key, dt) {
                            $('#q_result').append(`
                                <div class="col-md-6">
                                    <div class="card mb-3">
                                        <h5 class="card-header">`+ dt.transportation__name +`</h5>
                                        <div class="card-body">
                                            <h5 class="card-title">`+ dt.origin +` - `+ dt.destination +`</h5>
                                            <p class="card-text">Jadwal: `+ dt.departure_date +` (`+ dt.departure_time +`)</p>
                                            <p class="card-text">Harga Tiket: Rp`+ dt.price +`</p>
                                            <small>Slot Penumpang: `+ dt.available_seats +`</small>
                                            <a href="#" class="btn btn-primary">Pesan</a>
                                        </div>
                                    </div>
                                </div>
                            `)
                        });

                    } else {
                        $('#q_result').remove()
                        $('#search_container').append(`
                            <div class="row p-5" id='q_result'>
                            </div>
                        `)
                        $('#q_result').append(`
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">`+ response.message +`</h5>
                                    </div>
                                </div>
                            </div>
                        `)
                    }
                }
            })
        });

    })

</script>
{% endblock  %}